<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nus.me.common">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".net.VolleyActivity" />
        <activity android:name=".ui.activity.ViewActivity" />
        <activity android:name=".net.NetActivity" />
        <activity android:name=".net.AsyncHttp_Activity" />
        <activity android:name=".img.UIL_Activity" />
        <activity android:name=".img.Picasso_Activity" />
        <activity android:name=".img.Img_Activity" />
        <activity android:name=".bus.BusActivity" />
        <activity android:name=".bus.BusHelpActivity" />
        <activity android:name=".annotation.AnnotationActivity" />
        <activity android:name=".tween.TweenActivity" />
        <activity android:name=".property.PropertyActivity" />
        <activity android:name=".update.UpdateActivity" />
        <activity android:name=".net.OkHttpActivity" />
        <activity android:name=".game1.Game1Activity"></activity>
    </application>

</manifest>